<html>
  <head>
    <title>Flights</title>
  </head>
  <body>
    <h2>Available Flights:</h2>

<table>
  <thead>
    <tr>
      <th>Airlines</th>
      <th>Departure City</th>
      <th>Arrival City</th>
      <th>EstimateTimeDeparture</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let flight of data?.flights">
      <td>{{ flight.operatingAirlines }}</td>
      <td>{{ flight.departureCity }}</td>
      <td>{{ flight.arrivalCity }}</td>
      <td>{{ flight.estimatedDepartureTime }}</td>
      <td>
        <a href="javascript:void(0)" (click)="onSelect(flight.id)">Select</a>
      </td>
    </tr>
  </tbody>
</table>
  </body>
</html>