<div>
  <form #personForm="ngForm" (ngSubmit)="onSubmit(personForm.value)">
    <div>
      <label>First Name</label>
      <input type="text" name="firstName" [(ngModel)]="firstName">
    </div>

    <div>
      <label>Last Name</label>
      <input type="text" name="lastName" [(ngModel)]="lastName">
    </div>

    <div>
      <label>Email</label>
      <input type="text" name="email" [(ngModel)]="email">
    </div>

    <div>
      <label>Gender</label><br>
      <input type="radio" name="gender" value="male" [(ngModel)]="gender">Male
      <input type="radio" name="gender" value="female" [(ngModel)]="gender">Female
    </div>

    <div ngModelGroup="address">

      <div>
        <label>Street</label><br>
        <input type="text" name="street" [(ngModel)]="street">Street      
      </div>

      <div>
        <label>City</label><br>
        <input type="text" name="city" [(ngModel)]="city">City      
      </div>

      <div>
        <label>Country</label><br>
        <select name="country" [(ngModel)]="country">
          <option *ngFor="let country of countries" [value]="country">{{ country }}</option>
        </select>
      </div>

    </div>

    <div>
      <button type="submit" value="Submit">Submit</button>
    </div>

  </form>
</div>